body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    /* 16px */
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 0.25rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.25rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
    color: #fff;
}

.library {
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option {
    padding: 0.25rem 1rem;
    line-height: 2rem;
}
.lib-option a {
    margin-left: 0.7rem;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    display: flex;
    font-size: 1.25rem;
    width: 50px;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #242424;
    height: fit-content;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 1.25rem 1.25rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
    line-height: 1rem;
}

.badge {
    background-color: #fff;
    font-size: 0.875rem;
    border: none;
    border-radius: 100px;
    color: black;
    padding: 0.25rem 1rem;
    font-weight: 700;
    /* margin-top: 0.5rem; */
    height: 2rem;
    width: fit-content;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 1;
}

.sticky-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.sticky-nav-2 {
    display: flex;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

.sticky-nav-options {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
}

.nav-button {
    margin-right: 0.5rem;
    background-color: #2d2d2d;
    color: #fff;
}

.nav-button:hover {
    background-color: #3f3f3f;
}

.nav-button:active {
    background-color: white;
    color: #000;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

.dark-badge i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.sticky-nav-icons img {
    background-color: #000;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.nav-item-icon {
    background-color: #000;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #242424;
    width: 200px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.75rem 0.75rem;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}
.card-head{
    margin-left: 0.75rem;
}
.card-img {
    width: 100%;
    border-radius: 0.5rem;
}
.card-info {
    margin-top: 0.75rem;
}
.card-title {
    font-weight: 600;
}
.card-desc {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 95%;
    height: 50%;
    border-top: 1px solid #fff;
    opacity: 0.4;
}
.music-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.music-albums {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.music-albums img {
    width: 56px;
    height: 56px;
    background-size: contain;
}
.album-details {
    margin-left: 1rem;
}
.album-details p {
    font-size: 0.75rem;
    line-height: 0.5rem;
    opacity: 0.7;
    margin: 0;
}
.music-albums i {
    font-size: 1.25rem;
    margin-left: 1rem;
}
.player {
    width: 50%;
}
.music-controls {
    width: 25%;
    display: flex;
    align-items: center;
}
.music-controls i,input {
    padding: 0.25rem;
    font-size: 1rem;
}
.range {
    width: 80px;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.range::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.range::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    overflow:visible;
}
.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}